.projects {
  background-color: lighten($darkGray, 60%);
  h2 {
    padding: 1.5em 0;
    @include title;
  }
}

.projectsGrid {
  @include max-width(85%); 
  padding-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  .projectsGrid {
    @include max-width(95%)
  }
}

