.projects {
  background-color: lighten($darkGray, 60%);
  h2 {
    padding-top: 2em;
    @include title;
  }
}

.projectsGrid {
  @include max-width; 
  padding-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

