//Colors
$backgroundColor: #f5f6fa;
$darkBlue: #2a3c4f;
$lightGray: #ffffff;
$darkGray: #464646;

//Typography
$font: 'Lato', sans-serif;
$text-big: 1.5em; /*Equivalente a 24px, tomando como base 16px*/
$text-medium: 1.25em; /*Equivalente a 20px, tomando como base 16px*/
$text-small: 0.75em; /*Equivalente a 12px, tomando como base 16px*/